/*
******************** Mobile styles ****************
*/

.buts-wrap.mobile {
	display: none;
}
.buts-mobile-back {
	display: none;
}
.buts-zoom-wrap {  	
	display: none;
}

@media screen and (max-width: 1200px) {
	.buts-wrap {
		display: none;
	}
	.buts-wrap.mobile {
		display: block;
		top: 3vh;
	}
	.buts-wrap.mobile i.material-icons {		
		font-size: 3vw;
	}
	.menu {
		width: 100%;
		left: -100vw;
	}
	.menu-full {
		width: 100%;
		left: 0;
		/*transition: all 0.3s ease-out 0s;*/
	}
	.frame {
		width: 100%;
		left: 0;
	}
	#header {
		padding: 0 !important;		
	}
	#header p {
		font-size: 1.5vw;
		margin-bottom: 1.5vw;
	}
	button {
		box-shadow: none;
	}	
	.btn-tablet {
		left: 5vw;
	}
	.fullscreen {
		left: 10vw;
	}	
	.btn {    
		padding: 0.8vw 1.2vw;    
		font-size: 1.5vw;    
	}
	.page-index {		
		font-size: 1.5vw;		
	}
	.anchor-index i.material-icons {    
    font-size: 1.7vw;    
	}
	.but-control i.material-icons {    
    font-size: 2vw;
		line-height: 1.4;
  }  
	.head h1 {         
		font-size: 3.0vw;    
	}	
	span.h-level {
		font-size: 2.5vw;
	}
	.col-sm-1.buttons {         
		width: 20% !important ;    
	}
	.col-sm-9.h-wrap {         
		width: 60% !important;    
	}
	.col-sm-2.icon {         
		width: 20% !important;
    padding-right: 10px;
	}
	.panel-fixed {
		display: none;
	}
	.panel-body-empty {
		line-height: 2;
	}	
	.head {	
		background-size: 120% 100%;
	}
	.buts-zoom-wrap {  	
		display: block;
	}
	/*.anchors-button {	
		height: 2.8vw;
	}
	.nav {		
		top: 0.6vw;		
	}*/
}

@media screen and (max-width: 600px) {
	#header {
		display: none;
	}	
	.btn-tablet {
		left: 9.6vw;
	}
	.fullscreen {
		left: 19.3vw;
	}
	.column {
		flex: 100% !important;
	}	
	.buts-wrap.mobile {		
		top: 0.5vw;
	}
	.col-sm-1.buttons {         
		width: 30% !important ;    
	}
	.col-sm-9.h-wrap {         
		width: 40% !important; 
		padding: 0 !important;	
	}
	.col-sm-2.icon {         
		width: 30% !important;
		padding-right: 5px;
	}
	.buts-wrap.mobile i.material-icons {		
		font-size: 5vw;
		line-height: 1.5;
	}	
	.head h1 {         
		font-size: 4.5vw;
		line-height: 1.0;    
	}
	span.h-level {
		font-size: 3vw;
	}
	span.h-java {
		display: block;
	}
	.buts-mobile-back {
    position: absolute;
    width: 100%;
    height: 40px;
    background: rgb(227 227 244 / 65%);
		z-index: 9;
	}	
	.buts-zoom-wrap {  	
		display: none;
	}
	.page-index {		
		font-size: 2.8vw;		
	}
	.but-control i.material-icons {    
    font-size: 3.5vw;    
	}
	.anchor-index i.material-icons {    
    font-size: 3vw;    
	}
	*[tooltip]:hover:before {	
		font-size: 10px;
	}
	.page-back[tooltip]:before {
		font-size: 10px;
	}
	.head {	
		background-size: 130% 100%;
	}
	.icon img{
		border-top: 2px solid #131737;
		border-bottom: 1px solid #131737;
	}
	.run-desk,
	.guide-desk {
		display: none;
	}
	
	.guide-mob {
		display: block;		
	}
	.run-mob {
		display: flex;
		justify-content: flex-end;
	}
	.run-mob .but-guide-wrap {
		width: 48%;
	}
	.run-mob .but-guide {
		width: 100%;
		justify-content: space-between;
		font-size: calc(100% * 0.9);
	}
	.run-mob .guide-link {
		margin-bottom: 5px;
	}
	.run-mob .guide-close {
		margin: 0;
	}
	.run-mob .but-guide i.material-icons {
		font-size: calc(100% * 1.5);
	}
	.copy-msg {
	    font-size: calc(100% * 0.7) !important;
	}
	i.material-icons.info-symbol {
        margin-right: 8px;
    }
    .first-info {
    	padding-right: 5px;
    }
    .second-info {
    	padding-left: 5px;
    }
	.user-info img {		
		width: 32px;
	}
	.info-but-run {
        font-size: 12px;
	}
	.info-but-zoom {
		display: none;
	}
}
