
/*
******************** Styles ***********************
*/

* {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}		
#header {
	text-align: center;
	padding: 20px 32px;					
}
img.but-run {
	width: 40px;
}
.p-3 {
	padding: 2rem 1rem 1rem 1rem !important;
}
.row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;			
}
.column {
	flex: 50%;
	padding: 0 4px;
	position: relative;
}
.column img {
	margin-top: 8px;
	vertical-align: middle;
	width: 100%;
	border: 5px solid #cbcbe7;
}
p {				  
	background: #e2edfd;
	padding-left: 5px;
}
p.clear {
	color: transparent;					
}
button:focus:not(:focus-visible) {
	border: 2px solid #666666;
	outline: none;
}
.btn {
	border: 2px solid #666666;
	position: relative; 
	outline: none;
	padding: 6px 10px;
	background-color: #f1f1f1;
	cursor: pointer;
	font-size: 18px;
	overflow: hidden;			
}		
.btn:hover {
	background-color: #ddd;
}
.btn[lang="ru"]:hover {
	background-color: #f1f1f1;
}
.but50-wrap .btn.active:hover {
	background-color: #666;
}
.btn.active:hover {
	background-color: #5d5a5a;
}
.btn:focus {
	outline: 0;
	box-shadow: none;
}
.btn.active {			
	outline: none;
	background-color: #666;
	color: white;
	overflow: visible;
}
.but-wrap {
	position: static;
	display: flex;
	justify-content: center;
	transition: all 0.5s ease-out;
}
.zoomBut {
	display: inline-flex;			
}
.zoomBut .btn {
	border-radius: 0;
	display: inline-flex;
	align-items: center;
}
.zoomBut .btn:nth-child(1) {			
	border-right-width: 1px;
	border-bottom-left-radius: 0.25rem;
}
.zoomBut .btn:nth-child(2) {			
	border-left-width: 1px;
	border-bottom-right-radius: 0.25rem;
}
.but100-wrap.left .btn {			
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;			
}
.but100-wrap.right .btn {			
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;			
}
.but50-wrap {			
	margin: 0 15px;			
}
i.material-icons.sign {
	color: inherit;			
	font-size: 1.7em;
	font-weight: normal;
}
.zoomBut .btn:nth-child(2) i.material-icons.sign {
	transform: rotate(90deg);
}
.divider {
	left: 49%;
	position: absolute;
	height: 120%;
	width: 0.1rem;
	background-color: #666666;
	top: -5%;			
}
.btn.active .divider {
	background-color: #f1f1f1;
}

.fix {
	position: fixed;
	width: 100%;			
	top: 0;	
	z-index: 3;
	background-image: linear-gradient(to right, rgba(232,232,248,0.3), rgba(232,232,248,1), rgba(232,232,248,0.3));		
}
.top-up {
	top: -300px;
}

/*#e8e8f8
background-image: linear-gradient(to right, rgba(232,232,248,0.2), rgba(232,232,248,1), rgba(232,232,248,0.2))

*/
button.but {
	position: absolute;
	right: 0;
	top: 0;
	display: flex;
	justify-content: center;
	padding: 0;
	outline: none;
	align-items: center;
	border-radius: 50%;
	border: 5px solid #8d8dd2;
}
i.material-icons {
	color: #fff;
	font-weight: bold;
	font-size: 1.1em;
	margin-left: 0px;
}
.badge {
	display: inline-flex;
	padding-right: 0.34em;
}
.but50-wrap .btn.active,
.btn[lang="ru"]{
	cursor: default;
}		
.back-fix {
	position: fixed;
	display: inline-flex;
	width: 0;
	height: 2.9em;
	top: 0;
	left: 0;
	/*background-color: #e8e8f8;
	opacity: 0.95;*/
}
.but-wrap.fix .back-fix {			
	width: 100%;			
}
i.github-wrap {
	display: inline-flex;
	align-items: center;
}
a.github {
	font-style: normal;			
}
i.github-wrap i.fa {
	font-size: 26px;
	margin-left: 0.2em;
	margin-right: 0.4em;
	color: #0d6efd;
}		
i.github-wrap:hover i.fa {		  
	color: #0a58ca;			
}
span.fwrap {		  
	position: relative;
	display: inline-flex;
	margin-left: 0.4em;
	align-items: center;
}
span.fwrap i.fa {		  
	position: absolute;      
}
span.fwrap i.fa:nth-child(1) {		  
	font-size: 28px;      
}
span.fwrap i.fa:nth-child(2) {		  
	font-size: 18px;
	color: #fff;
	left: 0.2em;
	top: -0.35em;     
}
.column-id {
	position: absolute;
	width: 20px;
	height: 20px;    
	top: -10vh;
	/*background-color: green;
	color: white;*/
}
code {
	color:#330e76;
	font-size: 1em;
}
a:focus-visible {	
	outline: none !important;
}
.focus {	
	border: 5px solid #4CAF50;	
	padding-right: 8px;
}
.focus .fa.fa-link{	
	margin: .1em .4em .1em .3em;
	padding: 4px 4px 2px 3px;
	background-color: #4CAF50;
	color: white;
	border-radius: 3px;
}
.focus:hover .fa.fa-link{		
	background-color: #229127;
	color: white;	
}
html, body {
	transition: all 0.5s ease-out;
}
.img-select .badge{		
	background-color: #4CAF50 !important;	
}
.img-select img{		
	border-color: #4CAF50;	
}

/*
Code wrap styles
*/
.invisible {
	display: none !important;
}
pre {
	position: absolute;
	overflow: hidden;
	font-size: .735em;
}
pre code.hljs {	
	overflow: hidden;
	padding: 0; 
}
.code-wrap {	
	position: absolute;	
	box-shadow: 0px 0px 0px 2px #00a2e8;	
	overflow: auto;
	background-color: white;
	display: flex;
}
.code-null {
	box-shadow: none;
}
.code-wrap.console:before {
	content: "console";
	position: absolute;
	width: 100%;
	background: #fff;
	z-index: 1;
	top: 0;
	font-size: calc(100% * 2.2);
	font-weight: bold;
	text-align: center;
	opacity: 0.25;
	color: #282f6c;
}
.code-wrap.console.shell {	
	background-color: black;	
}
/*.code-wrap img {	
	align-self: center;
}*/
i.material-icons.but-gif {	
	position: absolute;
	color: white;
	font-weight: normal;
	font-size: 36px;
	background-color: #2d3887;
	cursor: pointer;
	right: 0;
	z-index: 2;
	border-radius: 0 0 0 15%;
}
i.material-icons.but-copy {
	top: 0;	
	background-color: white;
	color: #2d3887;
	padding: 3px 0 3px 3px;
}
i.material-icons.but-gif.right50 {
	right: 50%;	
}
i.material-icons.but-copy::before {
	position: absolute;
	content: "\276E  Copy";	
	font-size: calc(100% / 2.7);
	background: #282f6c;
	color: white;
	top: 100%;
	right: 1px;
	padding: 4px 5px 4px 4px;
	font-family: 'Source Sans Pro', sans-serif;
	border-radius: 4px 0px 0px 4px;
}
i.material-icons.but-test {		
	color: #04AA6D;	
}
i.material-icons.but-test:not([class~="but-setting"])::before {	
	content: "\276E  Run";
	background: #04AA6D;
	padding: 4px 5px 3px 4px;
	cursor: default;
	box-shadow: -3px 3px 0px 3px #fff;
}
i.material-icons.but-setting {		
	color: #08724b;
	background: white;
	margin-top: 5px;
}
i.material-icons.but-gif.setting-close {
	font-size: calc(100% * 1.5);
	background: #06925f;
	border-radius: 3px 0px 0px 3px;
  opacity: 1;
  top: 0;
}
.msg-left i.material-icons.setting-close {
	left: 0;
  right: initial;
	border-radius: 0px 3px 3px 0px;
}
.copy-msg {
	position: absolute;
	z-index: 2;
	background-color: #282f6c;
	color: white;
	width: 100%;	
	top: 20%;
	display: flex;
	align-content: center;
	flex-wrap: wrap;
	justify-content: center;
	opacity: 1;
	transition: all 0.5s ease-out;
}
.copy-msg.msg-test {
	background: transparent;
}
.msg-left {	
	width: 70%;
	border-radius: 0px 5px 5px 0px;
}
.msg-right {	
	width: 70%;
	border-radius: 5px 0px 0px 5px;
}
.copy-msg.msg-left span {	
	width: 102%;
	border-radius: 0px 5px 5px 0px;		
}
.copy-msg.msg-right span{
	width: 102%;
	left: -2%;
	border-radius: 5px 0px 0px 5px;	
}
.msg-hide {	
	opacity: 0;	
}
.copy-msg span {
	position: absolute;
	width: 100%;
	height: 100%;	
	border-radius: initial;
	display: flex;
	align-content: center;
	flex-wrap: wrap;
	justify-content: center;
	/*flex-direction: column;*/
	text-align: center;
}
.guide-choice {	
	background: #08724b;
	opacity: 1;
}
.choice-click {
    display: flex !important;
    height: 60% !important;
}
.choice-opt {
    top: 40%;
}
.msg-copy {
	background: #04aa6d;
	opacity: 1;
	left: 0 !important;
	/*height: calc(100% * 0.7) !important;*/
}
.msg-alert {
	flex-direction: column;
	background: #08724b;
	opacity: 1;
	left: 0 !important;
}
.setting-choice {
	background: #08724b;
	margin: 0 0 4px 0;
	left: 0 !important;
	font-weight: 600;
}
.guide-choice.msg-hide,
.msg-copy.msg-hide,
.msg-alert.msg-hide {
	opacity: 0;
	left: -10000px !important;
}

.guide-choice i.material-icons.icon-setting {
	color: white;	
	font-weight: normal;
	font-size: calc(100% * 1.5);
	margin: 0 3px;
}

select.guide-cases:focus-visible {
	outline: none;
}
select.guide-cases {
	cursor: pointer;
	border: 2px solid white;
	background-color: #2196F3;
	color: white;
	text-align: left;
	border-radius: 3px;
	padding: 0 5px;
	appearance: none; /* Убирает стандартное оформление в некоторых браузерах */
	-webkit-appearance: none; /* Для Safari */
	-moz-appearance: none; /* Для Firefox */
}
.hljs-ln-code {
	padding-left: 10px !important;
}
.hljs-ln-numbers {
	background: #f0f0f0;
	border-right: 1px solid #c4a898;
	padding: 0 3px !important;
	color: #c4a898;
	font-size: .9em;
}
.column img.code-img {
	border: none;
	height: fit-content;
	margin: 0;
	align-self: center;
}    

/* Console styles*/

.code-wrap.console pre code.hljs {
	color: black !important;
}
.code-wrap.console pre code.hljs .hljs-string {
	color: #636363 !important;
}
.code-wrap.console pre code.hljs tr:nth-last-of-type(1) .hljs-ln-code {
	color: blue !important;
}
.code-wrap.console pre code.hljs tr:nth-last-of-type(1) .hljs-ln-code .hljs-number {
	color: blue !important;
}
/*.code-wrap.console pre code.hljs .hljs-number {
	color: black !important;
}*/
.code-wrap.console .hljs-ln-numbers {
	background: #ffffff;
	border-right: 1px solid #ffffff;	
	color: #ffffff;	
}
.code-wrap.console pre code.hljs .hljs-title,
.code-wrap.console pre code.hljs .hljs-number,
.code-wrap.console pre code.hljs .hljs-keyword, 
.code-wrap.console pre code.hljs .hljs-literal, 
.code-wrap.console pre code.hljs .hljs-name, 
.code-wrap.console pre code.hljs .hljs-section, 
.code-wrap.console pre code.hljs .hljs-selector-class, 
.code-wrap.console pre code.hljs .hljs-selector-id, 
.code-wrap.console pre code.hljs .hljs-selector-tag, 
.code-wrap.console pre code.hljs .hljs-type {
	font-weight: normal;
	color: black;
}

/* Shell styles*/

.code-wrap.console.shell pre code.hljs {
	color: white !important;
	background: black;
}
.code-wrap.console.shell pre code.hljs .hljs-string {
	color: white !important;
}
.code-wrap.console.shell pre code.hljs tr:nth-last-of-type(1) .hljs-ln-code {
	color: white !important;
}
.code-wrap.console.shell pre code.hljs tr:nth-last-of-type(1) .hljs-ln-code .hljs-number {
	color: white !important;
}
/*.code-wrap.console.shell pre code.hljs .hljs-number {
	color: black !important;
}*/
.code-wrap.console.shell .hljs-ln-numbers {
	background: black;
	border-right: 1px solid black;	
	color: black;	
}
.code-wrap.console.shell pre code.hljs .hljs-number,
.code-wrap.console.shell pre code.hljs .hljs-keyword, 
.code-wrap.console.shell pre code.hljs .hljs-literal, 
.code-wrap.console.shell pre code.hljs .hljs-name, 
.code-wrap.console.shell pre code.hljs .hljs-section, 
.code-wrap.console.shell pre code.hljs .hljs-selector-class, 
.code-wrap.console.shell pre code.hljs .hljs-selector-id, 
.code-wrap.console.shell pre code.hljs .hljs-selector-tag, 
.code-wrap.console.shell pre code.hljs .hljs-type {
	font-weight: normal;
	color: white;
}


.code-wrap.author {
	opacity: 0.07;	
	transition: all 0.5s ease-out;
}
.code-wrap.author.full-visible {
	opacity: 1;
}
.code-wrap.back-author{
	background: #121631;
	box-shadow: none;
	cursor: pointer;	
	/*transition: all 0.5s ease-out;*/
	overflow: visible;
}
.code-wrap.back-author img{
	position: absolute;
	border-width: 3px;
	/*transition: all 0.5s ease-out;*/
	opacity: 1;
	/*height: 100%;*/
	margin: 0;
}
.code-wrap.back-author .blind-eye{	
	opacity: 0;
}
.code-wrap.author img{
	border: none;
	position: absolute;
}
.user-info-wrap {
	display: flex;
}
i.material-icons.info-symbol {
	color: #fff;
    font-size: calc(100% * 2.3);
    font-weight: normal;
    background: red;
    border-radius: 5px;
    margin-right: 15px;
}
.info-wrap {
	/*text-align: center;*/
}
.user-info {
	display: flex;
    align-items: center;
    padding: 0;
}
.user-info img {
	width: 38px;
	box-shadow: 1px 1px 1px 2px #bbd4fb;
	border-radius: 5px;
}
.first-info {
	padding-right: 10px;
}
.second-info {
	padding-left: 10px;
}
.info-but-zoom {
	display: flex;
}


   





